<!DOCTYPE>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- font links here -->


    <!-- css links here -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <section>
    <div class="container">
      <div class="row">
        <h3>BVN Verification</h3>
    <form class="row" action="/bvn-verify" method="post" role="form" id="bvnform">
      <div class="form-group col-sm-12">
        <label>BVN</label>
        <input type="text" name="bvn" class="form-control" placeholder="Enter BVN" required>
      </div>
      <div class="form-group col-sm-12">
        <label>Verification Method</label>
        <select class="form-control" name="vmethod">
          <option>Select Verification Method</option>
          <option value="Voice">Voice call</option>
          <option value="SMS">SMS</option>
        </select>
      </div>
      <div class="form-group col-sm-12">
        <button type="submit" name="submitbvn" class="btn btn-primary" id="submitbvn">Submit</button>
      </div>
    </form>
  </div>
  </div>
  </section>
</body>

</html>
