<!DOCTYPE>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- font links here -->


    <!-- css links here -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<section id="card-payment">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
				<h3>Card Pay</h3>
        <%if(typeof error != 'undefined' && error) {%>
          <div class="alert alert-danger">Error occuried during card payment</div>
        <%}
        else if(typeof message != 'undefined') {%>
          <div class="alert alert-success">Card payment request was successfull</div>
          <pre>Response from Flutterwave <%= JSON.stringify(message) %></pre>
        <%}%>
        <form role="form" name="payviacard" id="card-pay" action="/card-payment" method="post">
          <div class="row control-group">
            <div class="form-group col-xs-6">
              <label>Card Number</label>
              <input type="text" name="cnumber" class="form-control" placeholder="Enter your card number" required>
            </div>
            <div class="form-group col-xs-4">
              <label>Month</label>
              <input type="text" name="cdate-month" class="form-control" maxlength="2" placeholder="MM" required>
            </div>
            <div class="form-group col-xs-4">
              <label>Year</label>
              <input type="text" name="cdate-year" class="form-control" maxlength="2" placeholder="YY" required>
            </div>
            <div class="form-group col-xs-4">
              <label>CVV2/CVC</label>
              <input type="password" name="cvv" class="form-control" placeholder="CVV2/CVC" maxlength="4" required>
            </div>
            <div class="form-group col-sm-4">
							<label>PIN</label>
							<input type="password" name="pin" class="form-control" placeholder="Enter your 4 digit pin" maxlength="4" required>
            </div>
						<div class="form-group col-sm-6">
							<label>Amount</label>
							<input type="text" name="amount" class="form-control" placeholder="Enter Amount" required>
						</div>
						<div class="form-group col-sm-6">
							<label>Transaction Description</label>
							<input type="text" name="transactiondesc" class="form-control" placeholder="Transaction Description" required>
						</div>
						<div class="form-group col-sm-6">
							<button type="submit" name="submitpayment" class="btn btn-primary" id="submitpayment">Pay</button>
						</div>
          </div>
        </form>

      </div>
    </div>
  </div>

</section>
</body>

</html>
