<!DOCTYPE>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- font links here -->


    <!-- css links here -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<section>
  <div class="container">
    <div class="row">
      <h3>Card BIN Verification</h3>
			<%if(typeof status != 'success') {%>
	      <div class="alert alert-danger">Error occured</div>
	      <pre>Response from flutterwave <%= JSON.stringify(message) %></pre>
	    <%}
	    else if(typeof status == 'success') {%>
	      <div class="alert alert-success">BVN validation <%= JSON.stringify(respmsg)%></div>
	      <pre>Response from Flutterwave <%= JSON.stringify(message) %></pre>
	    <%}%>
      <form class="row" action="#" method="post" role="form" id="cardbinform">
        <div class="form-group col-sm-12">
          <label>First 6 Digits</label>
          <input type="text" name="cardbin" class="form-control" placeholder="Enter first 6 digits on card" required>
        </div>
        <div class="form-group col-sm-12">
          <button type="submit" name="cardbinbutton" class="btn btn-primary" id="cardbinbutton">Check</button>
        </div>
      </form>
    </div>
  </div>
</section>



</body>



</html>
