<!DOCTYPE>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- font links here -->


    <!-- css links here -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <section>
    <div class="container">
      <div class="row">
        <form class="row" action="#" method="post" role="form" id="linkacc">
          <div class="col-sm-12">
            <div class="form-group error">
              <label>Account Number</label>
              <input type="text" name="accnum" class="form-control" placeholder="Please enter account number" required="Fill in acc num">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Select Country</label>
              <select class="form-control" name="acccountry" id="acccountry">
                <option>Select Country</option>
                <option value="NG">NGN</option>
                <option value="KE">KEN</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>
